@font-face {
    font-family: exo;
    src: url(/static/fonts/Exo2.0-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: exo;
    color: white;
    box-sizing: border-box;
}

body {
    font-family: exo;
    color: #333;
}

p {
    color: #333;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    color: #333;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
