@font-face {
    font-family: exo;
    src: url(/assets/fonts/Exo2.0-Regular.otf);
}

@font-face {
    font-family: torus;
    src: url(/assets/fonts/Torus-SemiBold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: torus;
    color: white;
    box-sizing: border-box;
}

body {
    font-family: torus;
    color: #333;
}

p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    color: #333;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    background: rgb(0, 255, 21);
  }
  
  ::selection {
    background: rgb(0, 255, 21);
  }
