@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Muli', sans-serif;
    background-color: #000;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 50px;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

p {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    margin: 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}